* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.site {
    width: 960px;
    margin: 25px auto;
    height: auto;
}
.boxed {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.green {
    background-color: #f5fff5;
}
pre {
    margin: 0;
    padding: 0;
}
.pub {
    float: left;
    width: 200px;
    margin: 20px 5px 20px 20px;
}
.header {
    margin: 0px 20px;
    padding: 0px 0px 0px 20px
}
.header h1 {
    margin: 15px 20px;
}
.footer-small {
    margin: 0px 20px;
    width: 238px;
    float: left;
}
.footer-large {
    margin: 0px 20px;
    width: 598px;
    float: left;
}
.clear {
    clear: both;
}